body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(360_F_206145642_ch7d799Dq38xZfRQjEAYRLaYS9jsmezF.jpg);
    background-position: center;
    background-size: cover;
}

.calculator {
    width: 320px;
    background-color: #222;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-image: url(360_F_252658318_veARZ5m7Cz7T9J3QOABlO4jq6LAF0Ptm.jpg);
    background-size: cover;
    background-position: center;

}

.display {
    background-color: #444;
    color: white;
    font-size: 2.5em;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid #555;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.btn {
    background-color: #666;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    border-radius: 50%;
}

.btn:hover {
    background-color: #777;
}

.operator {
    background-color: #f39c12;
}

.operator:hover {
    background-color: #e67e22;
}

.equals {
    background-color: #27ae60;
    color: white;
    grid-column: span 2;
}

.equals:hover {
    background-color: #2ecc71;
}

.clear {
    background-color: #e74c3c;
}

.clear:hover {
    background-color: #c0392b;
}
